In [1]:
import pandas as pd
import numpy as np

### Load Data

In [2]:
medicaidppv = pd.read_json("https://health.data.ny.gov/resource/cr7a-34ka.json")
ppv = pd.read_json("https://health.data.ny.gov/resource/f8ue-xzy3.json")
income = pd.read_json("https://data.ny.gov/resource/5kgr-h5g5.json")

In [3]:
medicaidppv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 9 columns):
difference_in_rates           496 non-null float64
dual_status                   504 non-null object
expected_rate_per_100         496 non-null float64
medicaid_county_population    504 non-null int64
medicaid_ppv_events           504 non-null int64
observed_rate_per_100         504 non-null float64
patient_county                504 non-null object
risk_adjusted_rate_per_100    496 non-null float64
year                          504 non-null int64
dtypes: float64(4), int64(3), object(2)
memory usage: 35.5+ KB

In [4]:
ppv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 7 columns):
adjusted_rate_per_100    378 non-null float64
difference_in_rates      377 non-null float64
discharge_year           378 non-null int64
expected_rate_per_100    378 non-null float64
observed_rate_per_100    378 non-null float64
patient_county_name      378 non-null object
software_version         378 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 20.8+ KB

In [5]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
deductions_of_all_returns_in_thousands              974 non-null float64
dependent_exemptions_of_all_returns_in_thousands    974 non-null float64
disclosure                                          26 non-null object
income_class                                        1000 non-null object
income_class_sort_order                             1000 non-null int64
number_of_all_returns                               974 non-null float64
ny_agi_of_all_returns_in_thousands                  974 non-null float64
place_of_residence                                  1000 non-null object
place_of_residence_sort_order                       1000 non-null int64
tax_before_credits_of_all_returns_in_thousands      974 non-null float64
tax_liability_of_all_returns_in_thousands           974 non-null float64
tax_year                                            1000 non-null int64
taxable_income_of_all_returns_in_thousands          974 non-null float64
dtypes: float64(7), int64(3), object(3)
memory usage: 101.6+ KB

### Clean & Check Data

#### Check the Years for Both Dataset

In [6]:
ppv.discharge_year.unique()

array([2016, 2015, 2014, 2013, 2012, 2011])

In [7]:
medicaidppv.year.unique()

array([2014, 2013, 2012, 2011])

In [8]:
income.tax_year.unique()

array([2014, 2013])

Since for the Income tax dataset, it only contains the tax year of 2013 and 2014, I will remove the other years data in PPV dataset.

In [9]:
ppv2013 = ppv[ppv.discharge_year == 2013]
ppv2014 = ppv[ppv.discharge_year == 2014]
medicaidppv2013 = medicaidppv[medicaidppv.year == 2013]
medicaidppv2014 = medicaidppv[medicaidppv.year == 2014]
income2013 = income[income.tax_year == 2013]
income2014 = income[income.tax_year == 2014]

#### Check the Distinct Entries for Each Year for Both Dataset

In [10]:
len(ppv2013), len(ppv2014), len(medicaidppv2013), len(medicaidppv2014), len(income2013), len(income2014)

(63, 63, 189, 189, 90, 910)

In [11]:
income2013.place_of_residence.unique()

array(['New York City - Bronx', 'New York City - Kings',
       'New York City - Manhattan', 'New York City - Queens',
       'New York City - Richmond', 'Albany', 'Allegany'], dtype=object)

In [12]:
income2014.place_of_residence.unique()

array(['New York City - Bronx', 'New York City - Kings',
       'New York City - Manhattan', 'New York City - Queens',
       'New York City - Richmond', 'Albany', 'Allegany', 'Broome',
       'Cattaraugus', 'Cayuga', 'Chautauqua', 'Chemung', 'Chenango',
       'Clinton', 'Columbia', 'Cortland', 'Delaware', 'Dutchess', 'Erie',
       'Essex', 'Franklin', 'Fulton', 'Genesee', 'Greene', 'Hamilton',
       'Herkimer', 'Jefferson', 'Lewis', 'Livingston', 'Madison',
       'Monroe', 'Montgomery', 'Nassau', 'Niagara', 'Oneida', 'Onondaga',
       'Ontario', 'Orange', 'Orleans', 'Oswego', 'Otsego', 'Putnam',
       'Rensselaer', 'Rockland', 'St. Lawrence', 'Saratoga',
       'Schenectady', 'Schoharie', 'Schuyler', 'Seneca', 'Steuben',
       'Suffolk', 'Sullivan', 'Tioga', 'Tompkins', 'Ulster', 'Warren',
       'Washington', 'Wayne', 'Westchester', 'Wyoming', 'Yates',
       'NYS Unclassified +', 'Residence Unknown ++',
       'Grand Total, Full-Year Resident'], dtype=object)

In [13]:
income2014.place_of_residence.nunique()

65

In [14]:
income2013.groupby("place_of_residence").place_of_residence.count()

place_of_residence
Albany                       14
Allegany                      6
New York City - Bronx        14
New York City - Kings        14
New York City - Manhattan    14
New York City - Queens       14
New York City - Richmond     14
Name: place_of_residence, dtype: int64

In [15]:
income2014.groupby("place_of_residence").place_of_residence.count().unique()

array([14])

In [16]:
income2014[income2014.place_of_residence == 'Wayne']

,deductions_of_all_returns_in_thousands,dependent_exemptions_of_all_returns_in_thousands,disclosure,income_class,income_class_sort_order,number_of_all_returns,ny_agi_of_all_returns_in_thousands,place_of_residence,place_of_residence_sort_order,tax_before_credits_of_all_returns_in_thousands,tax_liability_of_all_returns_in_thousands,tax_year,taxable_income_of_all_returns_in_thousands
812,10107.416,0.000,NaN,"Under 5,000",1,6289.0,-325.842,Wayne,60,23.879,-664.293,2014,596.150
813,22707.257,46.163,NaN,"5,000 - 9,999",2,3702.0,27379.399,Wayne,60,185.067,-519.209,2014,4625.979
814,58310.327,2003.991,NaN,"10,000 - 19,999",3,6230.0,92713.970,Wayne,60,1316.464,-1367.945,2014,32399.652
815,57824.417,3000.698,NaN,"20,000 - 29,999",4,5544.0,137173.327,Wayne,60,3387.094,850.155,2014,76348.212
816,47752.543,2613.113,NaN,"30,000 - 39,999",5,4286.0,149074.071,Wayne,60,4751.103,3284.420,2014,98708.415
817,40680.087,2182.000,NaN,"40,000 - 49,999",6,3374.0,151354.226,Wayne,60,5479.686,4609.331,2014,108492.139
818,34634.272,1848.000,NaN,"50,000 - 59,999",7,2590.0,142115.178,Wayne,60,5478.048,4902.845,2014,105632.906
819,42563.590,2410.000,NaN,"60,000 - 74,999",8,2942.0,197476.504,Wayne,60,8161.001,7315.809,2014,152502.914
820,54256.043,3118.000,NaN,"75,000 - 99,999",9,3424.0,296463.145,Wayne,60,13327.557,12286.912,2014,239089.102
821,67680.975,4161.000,NaN,"100,000 - 199,999",10,3784.0,490051.981,Wayne,60,25708.747,24391.925,2014,418210.006
822,4796.554,237.000,NaN,"200,000 - 249,999",11,226.0,49950.347,Wayne,60,2986.932,2800.786,2014,44916.793
823,5134.226,200.000,NaN,"250,000 - 499,999",12,227.0,73629.081,Wayne,60,4603.718,4383.570,2014,68294.855
824,914.370,38.000,NaN,"500,000 and over",13,49.0,49635.246,Wayne,60,3667.861,3247.600,2014,48682.876
825,447362.077,21857.965,NaN,Total,14,42667.0,1856690.633,Wayne,60,79077.157,65521.906,2014,1398499.999

In [17]:
income2013[income2013.place_of_residence == 'Allegany']

,deductions_of_all_returns_in_thousands,dependent_exemptions_of_all_returns_in_thousands,disclosure,income_class,income_class_sort_order,number_of_all_returns,ny_agi_of_all_returns_in_thousands,place_of_residence,place_of_residence_sort_order,tax_before_credits_of_all_returns_in_thousands,tax_liability_of_all_returns_in_thousands,tax_year,taxable_income_of_all_returns_in_thousands
994,4967.436,0.000,NaN,"Under 5,000",1,3237.0,-1014.940,Allegany,8,8.972,-322.959,2013,224.278
995,11325.514,28.277,NaN,"5,000 - 9,999",2,1742.0,12930.142,Allegany,8,63.082,-334.476,2013,1576.351
996,29509.870,1174.443,NaN,"10,000 - 19,999",3,3002.0,44536.630,Allegany,8,562.064,-915.704,2013,13852.317
997,23876.684,1501.218,NaN,"20,000 - 29,999",4,2125.0,52710.354,Allegany,8,1202.540,75.088,2013,27332.452
998,20303.756,1278.000,NaN,"30,000 - 39,999",5,1732.0,60638.996,Allegany,8,1853.317,1137.468,2013,39057.240
999,18319.016,1062.000,NaN,"40,000 - 49,999",6,1468.0,65756.111,Allegany,8,2309.766,1846.748,2013,46375.095

In [18]:
ppv2014.patient_county_name.unique()

array(['Albany', 'Allegany', 'Bronx', 'Broome', 'Cattaraugus', 'Cayuga',
       'Chautauqua', 'Chemung', 'Chenango', 'Clinton', 'Columbia',
       'Cortland', 'Delaware', 'Dutchess', 'Erie', 'Essex', 'Franklin',
       'Fulton', 'Genesee', 'Greene', 'Hamilton', 'Herkimer', 'Jefferson',
       'Kings', 'Lewis', 'Livingston', 'Madison', 'Monroe', 'Montgomery',
       'Nassau', 'New York', 'New York State', 'Niagara', 'Oneida',
       'Onondaga', 'Ontario', 'Orange', 'Orleans', 'Oswego', 'Otsego',
       'Putnam', 'Queens', 'Rensselaer', 'Richmond', 'Rockland',
       'Saratoga', 'Schenectady', 'Schoharie', 'Schuyler', 'Seneca',
       'Steuben', 'St Lawrence', 'Suffolk', 'Sullivan', 'Tioga',
       'Tompkins', 'Ulster', 'Warren', 'Washington', 'Wayne',
       'Westchester', 'Wyoming', 'Yates'], dtype=object)

In [19]:
ppv2014.groupby("patient_county_name").patient_county_name.count().unique()

array([1])

In [20]:
medicaidppv2014.patient_county.unique()

array(['Albany ', 'Allegany ', 'Bronx ', 'Broome ', 'Cattaraugus ',
       'Cayuga ', 'Chautauqua ', 'Chemung ', 'Chenango ', 'Clinton ',
       'Columbia ', 'Cortland ', 'Delaware ', 'Dutchess ', 'Erie ',
       'Essex ', 'Franklin ', 'Fulton ', 'Genesee ', 'Greene ',
       'Hamilton ', 'Herkimer ', 'Jefferson ', 'Kings ', 'Lewis ',
       'Livingston ', 'Madison ', 'Monroe ', 'Montgomery ', 'Nassau ',
       'New York ', 'Niagara ', 'Oneida ', 'Onondaga ', 'Ontario ',
       'Orange ', 'Orleans ', 'Oswego ', 'Otsego ', 'Putnam ', 'Queens ',
       'Rensselaer ', 'Richmond ', 'Rockland ', 'Saratoga ',
       'Schenectady ', 'Schoharie ', 'Schuyler ', 'Seneca ', 'Statewide',
       'Steuben ', 'St Lawrence ', 'Suffolk ', 'Sullivan ', 'Tioga ',
       'Tompkins ', 'Ulster ', 'Warren ', 'Washington ', 'Wayne ',
       'Westchester ', 'Wyoming ', 'Yates '], dtype=object)

In [21]:
medicaidppv2014.groupby("patient_county").patient_county.count().unique()

array([3])

In [22]:
medicaidppv2014[medicaidppv2014.patient_county == 'Wayne ']

,difference_in_rates,dual_status,expected_rate_per_100,medicaid_county_population,medicaid_ppv_events,observed_rate_per_100,patient_county,risk_adjusted_rate_per_100,year
177,-6.04,Non-Dual,30.27,18590,4504,24.23,Wayne,25.49,2014
178,-2.07,Dual,28.21,3922,1025,26.13,Wayne,22.20,2014
179,-5.26,Total,29.82,22512,5529,24.56,Wayne,25.34,2014

Since the income tax data for 2013 only contain the county on the New York Island, and doesn't contain all the income class, I will use 2014 data.

#### Format the County Columns as Same

In [23]:
income2014['county_name'] = income2014.place_of_residence \
                                       .str.replace('New York City - ', '') \
                                       .str.replace('Manhattan', 'New York') \
                                       .str.replace('.', '')

/Users/crystal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
medicaidppv2014['patient_county_name'] = medicaidppv2014.patient_county.str.rstrip(' ')

/Users/crystal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Output Data

In [25]:
ppv2014.to_csv("ppv2014.csv")
medicaidppv2014.to_csv("medicaidppv2014.csv")
income2014.to_csv("income2014.csv")